doctype html
html(lang="en-ca")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title} – Sudo Nathan Knowler
    style: include login.css
  body
    article
      h1= title
      if errors
        p= errors
      form(action="/sudo" method="post")
        .form-field
          label(for="password") Password
          input#password(type="password" name="password" required)
        button= title
