include _icons.pug

mixin nav-link()
  a(aria-current=currentPath === attributes.href && "page")&attributes(attributes)
    block

mixin nav-list(label)
  nav(aria-label=label)
    ul(role="list"): block

mixin nav-item()
  li: +nav-link()&attributes(attributes)
    block

doctype html
html(lang="en-ca")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title} – Nathan Knowler
    link(rel="stylesheet" href="/main.css")
    block head
  body
    a.skip-link.visually-hidden(href="#content") Skip to content
    header
      +nav-link.site-title(href="/") Nathan Knowler
      +nav-list("primary")
        +nav-item(href="/") Home
        +nav-item(href="/about") About
        +nav-item(href="/blog") Blog
        +nav-item.icon-link(href="https://github.com/knowler" rel="me" title="@knowler on GitHub")
          span.visually-hidden @knowler on GitHub
          +github-icon(aria-hidden="true" width="1.25em" height="1.25em")
        +nav-item.icon-link(href="https://sunny.garden/@knowler" rel="me" title="@knowler@sunny.garden on Mastodon")
          span.visually-hidden @knowler@sunny.garden on Mastodon
          +mastodon-icon(aria-hidden="true" width="1.25em" height="1.25em")
    main#content
      block content
    footer
      p &copy; 2023 Nathan Knowler. All rights reserved.
      +nav-list("secondary")
        +nav-item(href="/accessibility") Accessibility
        +nav-item(href="/privacy") Privacy
        +nav-item(href="/webmention") Webmention
        +nav-item(href="/feed.xml") RSS
