include _nav.pug

doctype html
html(lang="en-ca")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title} – Sudo Nathan Knowler
    link(rel="stylesheet" href="/sudo.css")
    block head
  body
    +skip-link
    header
      +nav-link(href="/sudo/dashboard") Sudo
      +nav-link(href="/sudo/exit") Exit
      +nav-list("primary")
        +nav-item(href="/sudo/pages") Pages
        +nav-item(href="/sudo/posts") Posts
    main#content
      block content
