h1#accessibility-statement Accessibility Statement
p I want this website to be as accessible as possible. I am building this website with this goal in mind. This page will be used to document how I intend on meeting this goal, how I am testing the accessibility of this website, and if there are any known accessibility issues.
h2#features Features
p This site uses #[abbr(title="Accessible Rich Internet Applications") ARIA] attributes when necessary to improve the experience.
h2#testing Testing
p Currently, I am testing with macOS’ VoiceOver screen reader with Safari and, on Windows, NVDA with Firefox.
h2#feedback Feedback
p If you find any other issues that I haven’t accounted for, please help me address them by #[a(href="https://github.com/knowler/knowlerkno.ws/issues/new") Submitting an issue on GitHub].
