extends _sudo.pug

block content
  h1 Editing “#{title}”
  form(method="post")
    .form-field
      label(for="title") Title
      input#title(name="title" value=title placeholder="Untitled")
    button Update
