extends _public.pug

append head
  style.
    form[name="webmention"] {
      display: grid;
      justify-items: start;
      row-gap: 1rem;
      .form-field {
        display: grid;
        justify-content: start;
        row-gap: 0.5rem;
        & label {
          font-weight: 500;
          font-size: 1.25rem;
          line-height: 1;
        }
        .hint {
          margin-block: 0;
          line-height: 1;
        }
        & input {
          background-color: var(--color-canvas-muted);
          border: 0.0625em solid var(--color-fg-default);
          border-radius: 0.25em;
          font-size: inherit;
          padding-block: 0.625em;
          padding-inline: 0.75em;
          line-height: inherit;
          inline-size: 32ch;
        }
      }
      & button {
        background-color: var(--color-accent-default);
        color: var(--color-canvas-default);
        border: 0;
        border-radius: 0.25rem;
        padding-inline: 0.75rem;
        min-block-size: 2.75rem;
        font: inherit;
        font-weight: 500;
        line-height: inherit;
        transition: background-color 0.2s ease-in-out;
        &:hover {
          background-color: var(--color-accent-emphasis);
        }
      }
    }

block content
  h1= title
  p If the platform you are using doesn’t already support Webmentions, then you can use this form to manually send one for content you link to on my website.
  form(name="webmention" method="POST" action="/webmention")
    .form-field
      label(for="source") Source
      p.hint#source-hint The URL for your content.
      input#source(name="source" type="url" required aria-describedby="target-hint")
    .form-field
      label(for="target") Target
      p.hint#target-hint The URL for my content.
      input#target(name="target" type="url" required aria-describedby="target-hint")
    button Send Webmentio
