:root {
	--color-canvas-default: hsl(210 13% 7%);
	--color-canvas-muted: hsl(210 13% 10%);
	--color-fg-default: hsl(210 27% 60%);
	--color-accent-default: hsl(160 54% 70%);
	--color-accent-emphasis: hsl(160 95% 80%);
}

html {
	background-color: var(--color-canvas-default);
	color: var(--color-fg-default);
  color-scheme: dark;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

*, ::before, ::after { box-sizing: border-box; }

body {
  display: grid;
  gap: 1rem;
  grid-template: "sidebar content" / max-content auto;
  align-items: start;
  margin: 0;
}

header {
  display: grid;
  grid-column: sidebar;
  padding: 1rem;
  gap: 0.5rem;

  & a[aria-current="page"] {
    text-decoration: none;
  }

  & nav {
    display: contents;

    & ul {
      display: contents;
      list-style: none;
      padding-inline-start: 0;
      margin-block: 0;
    }
  }
}

main {
  grid-column: content;
}

.visually-hidden:not(:focus, :active) {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.skip-link:focus {
  position: fixed;
  outline: 0.125em dashed var(--color-accent-default);
  padding: 0.5em;
  background-color: var(--color-canvas-default);
  inset-block-start: 1rem;
  inset-inline-start: 1rem;
  border-radius: 0.5em;
}

form {
  display: grid;
  justify-items: start;
  gap: 1rem;
}

.form-field {
  display: grid;
  justify-items: start;
  gap: 0.5rem;

  & label {
    font-weight: 500;
  }
}

button {
  background-color: var(--color-accent-default);
  border: 0;
  border-radius: 0.5em;
  color: var(--color-canvas-default);
  font: inherit;
  font-weight: 800;
  font-variation-settings: "wdth" 110;
  letter-spacing: 0.03em;
  word-spacing: 0.2ch;
  padding-block: 0.5em;
  padding-inline: 0.75em;
  transition: background-color 0.2s ease-in-out;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-accent-emphasis);
    }
  }
}

:focus-visible {
  outline: 0.125em dashed var(--color-accent-default);
  outline-offset: 0.25em;
}
