extends _sudo.pug

block content
  article
    h1 Publish
      form(method="post")
        .form-field
          label(for="title") Title
          input#title(name="title" value=page.title required)
        .form-field
          label(for="slug") Slug
          input#slug(name="slug" value=page.slug required)
        button Publish
