include ../_nav.pug

doctype html
html(lang="en-ca")
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      title #{title} – Sudo
      link(rel="stylesheet" href="/sudo.css")
  body
    block body
      +skip-link
      header
        +nav-link(href="/sudo/dashboard") Sudo
        +nav-list("primary")
          +nav-item(href="/sudo/pages") Pages
          +nav-item(href="/sudo/posts") Posts
          +nav-item(href="/sudo/webmentions") Webmentions
        +nav-link.exit(href="/sudo/exit") Exit
      main#content(tabindex="-1")
        block content
